@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --fundo-site: #fff;
    --bordo: #5E1E13;
    --dourado: #D1AD54;

}

.espaco-lateral{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* ----------menu---------- */
/* header{
    height: 165;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 155px;
} */

/* .menu{
    max-width: 600px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-size: 23px;
    color: var(--dourado);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", "Semi-Bold";
    
}

.menu a:hover {
    color: var(--branco);
}

/* --------Menu Hamburguer--------- */
/* #icone-barras,
#icone-x,
#menu-botao{
    display: none;
} */












/*-------------- Responsividade----------------- */
/* @media screen and (max-width: 768px){
    #sombra{
        background-color: #5E1E13;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    } */

/* #menu-botao{
        display: block;
        z-index: 1;
    }

    header{
        position: relative;
    }

    header button{

        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg{
        fill: var(--dourado);
    }

    #icone-barras{
        display: block;
    }

    nav.menu{
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210;
        z-index: 1;
        transition: .5s;
    }
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-site: #F3F2F2;
    --bordo: #5E1E13;
    --dourado: #D1AD54;

}

#cabeca {
    background-color: var(--bordo);
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


/* -------- Menu ------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

header img {
    width: 180px;
}

.menu {
    max-width: 700px;
    width: 60%;
    display: flex;
    justify-content: space-between;
   
}

.menu a {
    font-size: 25px;
    color: var(--dourado);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", "Semi-Bold";
}

.menu a:hover {
    color: var(--branco);
}

/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}






/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--bordo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--dourado);
    }

    #icone-barras {
        display: block;
    }


    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--dourado);
    }
}