@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --fundo-site: #fff;
    --bordo: #5E1E13;
    --dourado: #D1AD54;

}

.espaco-lateral{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* ----------menu---------- */
/* header{
    height: 165;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 155px;
} */

/* .menu{
    max-width: 600px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-size: 23px;
    color: var(--dourado);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", "Semi-Bold";
    
}

.menu a:hover {
    color: var(--branco);
}

/* --------Menu Hamburguer--------- */
/* #icone-barras,
#icone-x,
#menu-botao{
    display: none;
} */












/*-------------- Responsividade----------------- */
/* @media screen and (max-width: 768px){
    #sombra{
        background-color: #5E1E13;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    } */

/* #menu-botao{
        display: block;
        z-index: 1;
    }

    header{
        position: relative;
    }

    header button{

        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg{
        fill: var(--dourado);
    }

    #icone-barras{
        display: block;
    }

    nav.menu{
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210;
        z-index: 1;
        transition: .5s;
    }
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-site: #F3F2F2;
    --bordo: #5E1E13;
    --dourado: #D1AD54;

}

#cabeca {
    background-color: var(--bordo);

}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


/* -------- Menu ------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

header img {
    width: 180px;
}

.menu {
    max-width: 700px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.menu a {
    font-size: 25px;
    color: var(--dourado);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", "Semi-Bold";
}

.menu a:hover {
    color: var(--branco);
}



/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}






/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--bordo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--dourado);
    }

    #icone-barras {
        display: block;
    }


    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -400px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--dourado);
    }
}

.Banner {
    height: 60vh;
    background-image: url(./img/BANNER\ branco.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
    background-size: 100%;
    margin-bottom: 130px;

}

.destaque {
    font-family: "Inter", "Semi-Bold";
    text-align: center;
    font-size: 35px;
    /* text-decoration: underline; */
    margin-bottom: 100px;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 80px; */
    height: 60px;
    color: var(--bordo);
    

}

.destaques1 {
    
    height: 310px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px 80px;
    max-height: 40px;
}

.destaques1 img{
    border: 8px solid var(--dourado);
    border-radius: 40px;
    width: 420px;
    margin-bottom: 100px;
}

#sobre {
padding-top: 1000px;
/* flex-wrap: wrap;
display: flex;
justify-content: space-around; */
 /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; */
    
}

/* Título centralizado */
.sobre-nos h2 {

    font-family: "Inter", "Semi-Bold";
    text-align: center;
    font-size: 38px;
    color: var(--bordo);        
    margin: -70px 0 80px;
    font-weight: 700;
    line-height: 200px;
    
    
}


/* Conteúdo lado a lado */
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* Estilo da imagem */
.imagem img {
   width: 450px;
    height: auto;
    border-radius:  30px; 
    margin-bottom: 130px;
    margin-bottom: 250px;
}

/* Texto */
.texto {
    max-width: 480px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;  
    margin-top: -115px; 
    
}



/* ------------  CARROSSEL ------------ */

* {box-sizing:border-box}

#marca{
    font-family: "Inter", "Semi-Bold";
    color: var(--bordo);
}

#marca h3{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 35px;
}

#marca {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Slideshow container */
.slideshow-container {
  max-height: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
  max-height: 750px;
  max-width: 1000px;
  border-radius: 80px;
  
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* MAPA *-----------*/

.mapa {
    display: flex;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
    border-radius:  30px; 
    margin-top: 280px;
}
.mapa img{
    border-radius: 80px;
    margin-bottom: 300px;
}

.mapa-desc{
    margin-bottom: 250px;
    background-color: #5E1E13;
    width: 120vh;
    height: 90px;
    display: flex;
    border-radius: 25px;
    margin-top: -200px;
}

.mapa-desc span{
 font-family: "Inter", "Semi-Bold";
 color: #D1AD54;
 font-size: 55px;
 text-align: center;
  margin-left: 90px;
  margin-top: 10px;
}

.mapa-desc h2{
    font-family: "Inter", "Semi-Bold";
    color: #fff;
    font-size: 55px;
    margin-left: 30px;
    margin-top: 10px;
}


 /* Contato ---------------*/
#contato {
    margin-bottom: 150px;
    height: 700px;
    background-color: var(--bordo);
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    /* flex-wrap: wrap; */
}

.conteudo_contato form {
    /* width: 80%; */
    flex: 1;
    max-width: 500px;

    color: var(--preto);
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

.campo {
    width: 100%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo_descricao {
    width: 100%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 10px;

    text-indent: 10px;

    outline: none;
}

.campo_descricao textarea {
    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 10px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo label,
.campo_descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo_descricao textarea {
    font-family: "Inter", "Semi-Bold";
    font-size: 17px;
}

.campo input::placeholder,
.campo_descricao textarea::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo_descricao textarea:focus {
    outline: 2px solid var(--dourado);
}

.conteudo_contato form button {
    height: 40px;
    width: 100%;

    background-color: var(--dourado);
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    /* Bold */

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

.conteudo_contato form button:hover {
    background-color: var(--dourado);
}







/* ------------  FOOTER ------------ */

footer {
    margin: 0;
    height: 280px;
    background-color: var(--bordo);
    width: 100%;

}

footer p {
    color: var(--dourado);
    font-size: 30px;
    text-decoration: none;
    font-family: "Inter", "Semi-Bold";
}

.footer-logo{
    width: 620px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    
}

.footer-logo p {
    color: var(--dourado);
    font-size: 24px;
    /* text-decoration: none; */
    font-family: "Inter", "Semi-Bold";
    /* margin-top: 30px; */
    
}
 .footer-logo img {
    color: var(--branco);
    height: 100px;
    /* width: 60px; */
    margin-top: 30px;
 }

footer div.espaco_lateral {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding-top: 60px; */
    
}


.redes{
   margin-top: 70px;
}
.redes p{
    font-size: 35px;
    font-family: "Inter", "Semi-Bold";
    color: var(--dourado);
}




/* footer svg {
    color: var(--branco);
    height: 60px;
    width: 60px;
} */

.icone-redes {
    padding-top: 20px;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.icone-redes svg {
    height: 70px;
    width: 70px;
    color: var(--branco);
}




